body {
    justify-items: center;
    justify-content: center;
    background: #020024;
background: linear-gradient(90deg,rgb(8, 32, 165) 0%, rgb(51, 5, 124) 35%, rgb(108, 157, 212) 100%);
animation: gradient 2s linear infinite alternate ;
background-size: 200% 200% ;
}
h1 {
background: #020024;
background: linear-gradient(90deg,rgb(189, 78, 14) 0%, rgb(36, 206, 36) 35%, rgb(89, 0, 255) 100%);
background-size: 200% 200%;
color: transparent;
animation: gradient 2s ease infinite alternate  ;
-webkit-background-clip: text;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
transition: 0.5s;
}
h1:hover {
    transform: translateY(10px);
}
@keyframes gradient {
    0% {
        background-position: 50%;
    }
    100% {
        background-position: 100%;
    }
}
div {
    background-color: rgba(128, 128, 128, 0.541);
    justify-items: center;
    height: 400px;
    width: inherit;
    border-radius: 20px;
    padding: 8px;
}
p {
    background-image: linear-gradient(to right,blue,white);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.7s;
}
p:hover {
        transform: translateY(-7px);
}
nav {
    background-color: rgba(128, 128, 128, 0.459);
    padding: 4px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    justify-content: center;
    justify-items: center;
}
nav a:hover {
background-color: white;
border-radius: 6px;
}
nav a {
    margin-left: 5px;
    text-decoration: none;
    padding: 3px;
    transition: 0.5s;
}
ul {
    background-image: linear-gradient(to right,blue,white);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.7s;
}
ul:hover {
    transform: translateY(-7px);
}
